.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.character-item {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.character-item:hover {
  transform: scale(1.05);
}

.character-details {
  margin-top: 20px;
}

.character-details img {
  width: 200px;
  border-radius: 10px;
}
